*, *::after, *::before {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  .container {
    background:  linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr) ) ;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
  }
  
  .box {
    --in-out-duration: 0.5s;
    
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    outline: none;
    gap: 1rem;
      
    &:is(:hover, :focus) {
      
      & .box__image {
      scale: 1.05;
        
        &::after {
          border-color: white;
          animation-name: scale-in, pulse;
          animation-duration: var(--in-out-duration), 2s;
          animation-iteration-count: 1, infinite;
          animation-delay: 0s, var(--in-out-duration);
        }
        
        &::before {
          opacity: 1;
        }
      }
    }
  }
  
  .box__title {
    font-weight: bold;
  }
  
  .box__image {  
    aspect-ratio: 264 / 352;
    display: flex;
    position: relative;
    transition: scale var(--in-out-duration);
    /* smooths out transition */
    scale: 1.01; 
    width: 100%;
    
    &::before {
      content: "";
      display: block;
      inset: 0;
      background-image: var(--bg-image);
      position: absolute;
      filter: blur(1rem);
      opacity: 0;
      transition: opacity var(--in-out-duration);
      scale: 1.05;
    }
    
    &::after {    
      content: "";
      display: block;
      inset: -0.5rem;
      border: 3px solid transparent;
      border-radius: 1rem;
      opacity: 0;
      position: absolute;
      
      animation-name: scale-out;
      animation-duration: var(--in-out-duration);
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      
      transition-property: border-color;
      transition-duration: var(--in-out-duration);
    }
    
    & img {
      box-shadow: 0 0 0.25rem rgba(0 0 0 / 25%);
      border-radius: 0.5rem;
      object-fit: cover;
      object-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(15px) saturate(3);
    }
  }
  
  @keyframes scale-in {
    from {
      scale: 1.1;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @keyframes scale-out {
    from {
      scale: 1;
      opacity: 1;
    }
    to {
      scale: 1.1;
      opacity: 0;
    }
  }

button {
  padding: 10px 20px; /* Add padding to increase the button size */
  margin: 5px; /* Add a little margin around the button */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  background-color: #cbdced; /* A nice shade of blue */
  color: #efefe9; /* White text */
  font-size: 16px; /* Make the text a bit larger */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}


button:hover {
  background-color: #6587a1; /* Darken the button a bit on hover */
}

.my-list-button {
  color: #6587a1;
}
.my-list-button:hover {
  color: #e3ecec;
  background-color: #85a9b5;
}

.book-author {
  color: #a1bbd3;
  font-style: italic;
}

.book-title {
  color: #e3ecec;
}

.book img {
  width: 150px; /* Fixed width */
  height: 200px; /* Fixed height */
  object-fit: cover; /* This ensures the image covers the area without stretching */
  cursor: pointer; /* Changes cursor to indicate it's clickable */
}

.book a {
  display: inline-block; /* Needed to apply the transformation */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.book a:hover img {
  transform: scale(1.05); /* Scale up the image */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
}
